.card {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid blueviolet;
    font-size: 12px;
    color: rgb(17, 9, 7);
}
.card a {
    text-decoration: none;
}
.card > a > div {
    color: #323232;
}

.cardTitulo {
    color: blue;
    padding-bottom: 10px;
    font-size: 18px;
}